<h1 [class]="'h1'">List Of Students</h1>
<table> 
    <tr>
    <th *ngFor="let column of headers">{{column}}</th>
   </tr>
   <tr *ngFor="let row of student;trackBy:trackById " #trData>
       <td *ngFor="let label of columnNames">{{row[label]}}</td><td><button (click)="selectedStudents(row)">select</button></td>
   </tr>
</table>
<hr>
<app-student-details [selectedStudent]="selectedStudent"></app-student-details>
