  .signbut {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(#4CAF50, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
    margin-top: 10px;
  margin-bottom: 10px;
  color:whitesmoke;
    cursor:pointer;
  }
  
  .signbut:hover {
    background: -webkit-linear-gradient(#79bc64, #578843);
  }
  
  .bolder {
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color:white;
  }

/* button {
    background-color: #4CAF50;
    color: white;
    margin: 0px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
} */
.mainContent{
  margin-top:100px;
  margin-left: 10%;
}
ul{
  width: 30%;
  display: inline-block;
  padding:2px;
  list-style: none
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  padding:10px;
  margin:2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

.navbar {
  overflow: hidden;
  height: 80px;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .logowrapper {
  margin-left: 100px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.navbar button{
  border-radius: 5px;
  margin-top:20px;
  margin-left:100px;
  background-color: black;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
.navbar button:hover{
  border-radius: 5px;
  background: #ddd;
  color: black;
}
.navbar .logowrapper:hover{
  border-radius: 5px;
  background: #ddd;
  color: black;
}

.navbar .aref{
  margin-right: 100px;
}
.navbar a {
  margin-top: 18px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  border-radius: 5px;
  background: #ddd;
  color: black;
}
.navbar .search-container {
  
  margin-top: 8px;
  margin-right: 10%;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.navbar .search-container button {
  margin-top: 7px;
  margin-left:10px;
  float: right;
  padding: 7px 10px;
  margin-right: 16px;
  background:black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}

