<div class="navbar">
  <h1 class="logowrapper" (click)="home()">Pet Peer</h1>
  <button class="add" (click)="addPetDetails()">POST YOUR ADD</button>
  <div class="aref">
    <a href="#home">Logout</a>
    <a href="#news">Profile</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="search-container">
    <Form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">search</button>
    </Form>
  </div>
</div>
<div class="mainContent" *ngIf="mainPage">
  <ul *ngFor="let row of listOfPets;trackBy:trackById">
    <li class="card" (click)="selectUser(row)">
      <img src="assets/images/{{row['petName']}}.jpeg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>BREED : {{row['petName']|uppercase}}</b></h4>
        <p><b>AGE : {{row['petAge']}}</b></p>
        <p><b>OWNER EMAIL : {{row['ownerEmailId']}}</b></p>
      </div>
    </li>
  </ul>
  <hr>
</div>
  <app-pet-details [pet]="pet" (deleteRecord)="deletePetDetails($event)" (updateRecord)="updatePetDetails($event)"
    [updateDetailsFlag]="updateDetailsFlag" [addPet]="addPet" (addRecord)="addPetDetailsRecord($event)">
  </app-pet-details>
