<div class="mainContent">
  <div class="card" *ngIf="pet">
    <div class="container">
      <img src="assets/images/{{pet.petName}}.jpeg" alt="Avatar" style="width:100%">
      <h4><b>BREED :{{pet.petName|uppercase}}</b></h4>
      <p><b> AGE : {{pet.petAge}}</b></p>
      <p><b> Owner mail : {{pet.ownerEmailId}}</b></p>
      <p><b>Owner Adress</b> : {{pet.ownerAdress}}</p>
      <button class="signbut bolder" (click)="displayForm(pet)">EDIT THE POST</button>
      <button class="signbut bolder" (click)="deletePetDetails(pet.id)">DELETE THE POST</button>
    </div>
  </div>
  <div class="formcontainer" *ngIf="updateDetailsFlag||addPet">
     <form [formGroup]="formGroup">
      <label>Pet Name</label>
      <input type="text" placeholder="Pet name.."  formControlName="petName">

      <label>Pet Age</label>
      <input type="text" placeholder="Pet Age.." name="age"  formControlName="petAge">

      <label>Owner Email Id</label>
      <input type="email" placeholder="Owner Email.."  formControlName="ownerEmailId">

      <label>Owner Adress</label>
      <textarea id="subject" placeholder="Adress.." style="height:150px" 
        formControlName="ownerAdress"></textarea>
        <button *ngIf="updateDetailsFlag" class="signbut" (click)="updatePetDetails()">Update</button>
        <button *ngIf="addPet" class="signbut" (click)="addPetDetails()">add</button>
    </form> 
  </div>
</div>