.masterCard{
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.matCard{
    display:ineline;
    width:500px;
    height:200px;
}
mat-grid-tile {
    background:lightblue;
  }
  img{
    height: 200px;
    width:100px;
    margin-left: 70px;
  }
  .plucIcon{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;	
  }
  .quanDis{
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 37px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
  }
  .priceBar{
      display: flex;
    justify-content: space-between;
  }
  .mat-grid-tile {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }
 .mat-dialog-actions {
    justify-content: flex-end;
    
}
 .placeOrder{
    margin-top: 20px;
    width: 800px;
    display: flex;
    justify-content: space-between;
 }