<div style="margin-top: 100px;" align="center" *ngIf="listOfOrders">
    <div *ngFor="let order of listOfOrders" style="margin-top: 30px;">  
    <mat-card class="masterCard" *ngFor="let item of order.cartItems">
    <div>
        <img src="assets/images/{{item.itemName}}.jpeg">
        </div>
    <mat-card class="matCard">
      <mat-card-content align="start">
            <div class="mat-title">{{item.header}}</div>
         </mat-card-content>
         <mat-card-content align="start">
            <span class="mat-body-2"> <span>&#8377;</span> {{item.totalBill}} INR</span>
        </mat-card-content>
        <mat-card-content align="start">
            <span class="mat-body-2">{{order.date}}</span>
        </mat-card-content>
        <mat-card-content align="start">
            <span class="mat-body-2">{{item.quantity}}</span>
        </mat-card-content>
    <mat-card-actions align="start">
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="warn">Refund
        </button>
      </mat-card-actions>   
      </mat-card> 
    </mat-card>
    <mat-card class="placeOrder">
        <mat-card-header class="mat-title"> TotalBill:{{order.totalBill}} </mat-card-header>
    <!--     <button mat-raised-button color="primary">Proceed to pay</button>
     -->
     <mat-card-header class="mat-title" color="primary">Date Of Purchase:{{order.date}}</mat-card-header>
         <mat-card-header class="mat-title" color="primary">Order Id:{{order.id}}</mat-card-header>
    </mat-card>
    <mat-divider [inset]="true"></mat-divider>
 </div>
</div>