<h1 [class]="isStyle1?'style1':'style2'">This is Student information</h1>

Name:<input type='text' [value]="name1" #nameRef><br>
<button (click)='updateValue(nameRef)'>submit</button>

<hr>
original:<input type='text' [value]="'hello'" (input)="updateScreen($event)"><br>

updated:<input type='text' [ngModel]="name" (ngModelChange)="name=$event"><br>

updated:<input type='text' [(ngModel)]="name">

<hr>
<div ngSwitch>
 
</div>

<hr>
<p>Name:{{name}}</p>
<p>Age:{{age}}</p>
<p>IsMarried:
    <span *ngIf="isMarried; else elseTemplate">Yes</span>
    <ng-template #elseTemplate>
        NO
    </ng-template>
</p>
<p>Location:{{location.city}}</p>
Lang:<p *ngFor="let item of lang">
    {{item.name}}
</p>
<button [disabled]='isDisabled'>save</button>
<button disabled="isDisabled">submit</button>
<hr>
<button (click)="update()">Update</button>