<div *ngIf="registration">
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Register</mat-card-title>
            </mat-card-header>

            <form [formGroup]="registrationForm" class="example-form">

                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input formControlName="userName" matInput placeholder="Username *">
                        <mat-error *ngIf="registrationForm.controls.userName.errors">{{getUserNameErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input formControlName="email" matInput placeholder="Email *">
                        <mat-error *ngIf="registrationForm.controls.email.errors">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input formControlName="phoneNumber" matInput placeholder="Phone number *">
                        <mat-error *ngIf="registrationForm.controls.phoneNumber.errors">{{getPhoneNumberErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input type="password" formControlName="passWord" matInput placeholder="Password *">
                        <mat-error *ngIf="registrationForm.controls.passWord.errors">{{getPassWordErrorMessage()}}</mat-error>
                    </mat-form-field>

                </mat-card-content>

                <button mat-stroked-button color="primary" class="btn-block" (click)="registerUser()">Register</button>
                <button mat-stroked-button color="accent" class="btn-block" (click)="loginFlag(true)">Existing User? Log in</button>

            </form>
        </mat-card>
    </div>
</div>
<app-login *ngIf="login" (registrationFlag)="loginFlag($event)"></app-login>