
.navbar{
  justify-content: space-between;
  z-index:1; 
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar span{
  margin-left: 3rem;
}
.innerNav{
  margin-right: 10rem;
}
.expMore{
 margin-top: 10px;
}

.example-card {
  max-width: 300px;
}
.cardContent{
  max-width: 300px;
}
 .mat-form-field + .mat-form-field {
  max-width: 300px;
}
.card-item{
  display: -webkit-inline-flex; 
  padding: 3px 3px 3px 3px;
  align-content: center;
  height: 500px;
  justify-content: center;
  align-items: center;
  
}

.card-item img{
  margin-left: 6rem;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-deck-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  width: 97%;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}
.mat-dialog-actions {
    justify-content: flex-end;
}

