<div style="margin-top: 80px;">
    <div fxLayout="row" fxFlex.md="10" fxLayoutWrap class="card-deck-container mat-elevation-z4">
        <div fxFlex *ngFor="let product of allPhones" class="card-item">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{product.header}}</mat-card-title>
                    <mat-card-subtitle>{{product.color}}</mat-card-subtitle>
                </mat-card-header>
                <img align="center" src="assets/images/{{product.itemName}}.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content content="cardContent" align="center">
                    <p style="margin-left: 1rem;color: green;" class="mat-body-2">NOW : <span>&#8377;</span> {{product.price}} INR</p>
                </mat-card-content>
                <mat-card-actions align="center">
                    <button mat-flat-button color="primary" role="button" 
                    (click)="addToCart(product)">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Add to cart
                    </button>
                    <button mat-button>
                        <mat-icon color="accent">favorite</mat-icon>LIKE
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>