<ng-container *ngIf="loginPage ; else dashBoard">
<div id="navwrapper">
    <div id="navbar">
        <table class="tablewrapper">
            <tr>
                <td><input type="button" class="signbut bolder" value="Login" (click)="displayLogin()">
                </td>
                <td><input type="button" class="signbut bolder" value="Sign Up" (click)="displaySignUp()">
                </td>
            </tr>
        </table>
        <h1 class="logowrapper">Pet Peer</h1>

    </div>
</div>

<div id="contentwrapper">
    <div id="content">

        <div id="leftbod">
            <div class="leftbar">
            </div>

            <div class="leftbar">
            </div>

            <div class="leftbar">
                <div class="fb1">
                </div>
            </div>

        </div>
        <div id=rightbod *ngIf="login">
            <app-login-form (loginPage)="updateDashBoard($event)"></app-login-form>
        </div>
        <div id="rightbod" *ngIf="signUp">
            <div class="signup bolder">Sign Up</div>

            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <div *ngIf="submitted && registrationForm.controls.firstName.errors" [class]="'invalidField'">
                    <p *ngIf="registrationForm.controls.firstName.errors.required">*First name required</p>
                    <p *ngIf="registrationForm.controls.firstName.errors.minlength">*First name must contains 5 letters
                    </p>
                </div>
                <div *ngIf="submitted && registrationForm.controls.lastName.errors" [class]="'invalidField'">
                    <p *ngIf="registrationForm.controls.lastName.errors.required">*Last name required</p>
                </div>
                <div class="formbox">
                    <input type="text" class="inputbody in1" placeholder="First name" formControlName="firstName">
                    <input type="text" class="inputbody in1 fr" placeholder="Last name" formControlName="lastName">
                </div>
                <div *ngIf="submitted && registrationForm.controls.emailId.errors" [class]="'invalidField'">
                    <p *ngIf="registrationForm.controls.emailId.errors.required">*Email Id required</p>
                    <p *ngIf="registrationForm.controls.emailId.errors.pattern">*Email must be hcl or dbs domain</p>
                </div>
                <div class="formbox">
                    <input type="text" class="inputbody in2" placeholder="Enter Email" formControlName="emailId">
                </div>
                <div *ngIf="submitted && registrationForm.controls.phoneNumber.errors" [class]="'invalidField'">
                    <p *ngIf="registrationForm.controls.phoneNumber.errors.required">* Phone number required</p>
                    <p *ngIf="registrationForm.controls.phoneNumber.errors.minlength">* 10 digits only</p>
                </div>

                <div class="formbox">
                    <input type="number" class="inputbody in2" placeholder="Enter mobile number"
                        formControlName="phoneNumber">
                </div>
                <div *ngIf="submitted && registrationForm.controls.passWord.errors" [class]="'invalidField'">
                    <p *ngIf="registrationForm.controls.passWord.errors.required">* Password required</p>
                    <p *ngIf="registrationForm.controls.passWord.errors.passWordPattern">* Password must contains
                        one upper case, one lower case, one special character and atleast six letters.
                    </p>
                </div>
                <div class="formbox">
                    <input type="password" class="inputbody in2" placeholder="New password" formControlName="passWord">
                </div>
                <div *ngIf="submitted && registrationForm.controls.gender.errors" [class]="'invalidField'">
                    <p>* select gender</p>
                </div>
                <div class="formbox mt1">
                    <span data-type="radio" class="spanpad">
                        <input type="radio" value="female" class="m0" formControlName="gender">
                        <label for="fem" class="gender">Female
                        </label>
                        <input type="radio" value="male" class="m0" formControlName="gender">
                        <label for="male" class="gender">Male
                        </label>
                    </span>
                </div>
                <div class="formbox">
                    <div class="agree">
                        By clicking Sign Up, you agree to our <div class="link">Terms</div> and that you have read our
                        <div class="link">Data Use Policy</div>, including our <div class="link">Cookie Use</div>.
                    </div>
                </div>
                <div class="formbox">
                    <button type="submit" class="signbut bolder">Sign Up</button>
                </div>
            </form>
            <div class="formbox">
                <div class="create">
                    <div class="link h">@PetPeerApplication</div> designed and developed by harish saluri.
                </div>
            </div>
         </div>
         </div>
        </div>
        </ng-container>
        <ng-template #dashBoard>
            <app-pet-list></app-pet-list>
        </ng-template>