<h2 style="text-align: center;">Reactive Form</h2>

<form style="text-align: center;" [formGroup]="registrationForm" (ngSubmit)="register()">
    First Name:
    <input type="text" name="firstName" placeholder="Enter First Name" formControlName="firstName">
    <div *ngIf="submitted && registrationForm.controls.firstName.errors" [class]="'invalidField'">
        <p *ngIf="registrationForm.controls.firstName.errors.required">First name required</p>
        <p *ngIf="registrationForm.controls.firstName.errors.minlength">Last name must contains 5 letters</p>
    </div><br>
    Last Name:
    <input type="text" name="lastName" placeholder="Enter Last Name" formControlName="lastName"><br>
    <div *ngIf="submitted && registrationForm.controls.lastName.errors" [class]="'invalidField'">
        <p *ngIf="registrationForm.controls.lastName.errors.required">Last name required</p>
    </div>
    Email ID:
    <input type="email" name="emailId" placeholder="Enter your mailId" formControlName="emailId"><br>
    <div *ngIf="submitted && registrationForm.controls.emailId.errors" [class]="'invalidField'">
        <p *ngIf="registrationForm.controls.emailId.errors.required">Email Id required</p>
        <p *ngIf="registrationForm.controls.emailId.errors.pattern">Email must be hcl or dbs domain</p>
    </div>
    Phone Number:
    <input type="number" name="phoneNumber" placeholder="Enter your phone number" formControlName="phoneNumber"><br>
    Role:
    <select name="role" formControlName="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
    </select>
    <div *ngIf="submitted && registrationForm.controls.role.errors" [class]="'invalidField'">
        <p *ngIf="registrationForm.controls.role.errors.required">Please select the role</p>
    </div><br>
    Gender:
    <input type="radio" value='Male' formControlName="gender" >Male
    <input type="radio" value='Female' formControlName="gender">Female
    <div *ngIf="submitted && registrationForm.controls.gender.errors" [class]="'invalidField'">
        <p *ngIf="registrationForm.controls.role.errors.required">Please select the gender</p>
    </div>
    <br>
    <button>submit</button>
</form>