<h1>Selected Students</h1>
<!-- 
<div [ngSwitch]="showDefault">
    <p *ngSwitchDefault>No Records Found</p>
    <table *ngSwitchCase="'yes'">
        <tr>
            <td>{{selectedStudent.id}}</td>
            <td>{{selectedStudent.firstName}}</td>
            <td>{{selectedStudent.lastName}}</td>
            <td>{{selectedStudent.address}}</td>
            <td>{{selectedStudent.mobile}}</td>
            <td>{{selectedStudent.emailId}}</td>
        </tr>
    </table>
    <button (click)="selectdUser()">Selected User</button>
    <button>Clear User</button> 
</div>-->
<ng-container *ngIf="selectedStudent;else elseTemplate">

    <table>
        <tr>
            <th *ngFor="let column of headers">{{column}}</th>
        </tr>
        <tr>
            <td>{{selectedStudent.id|textTransform}}</td>
            <td>{{selectedStudent.firstName}}</td>
            <td>{{selectedStudent.lastName}}</td>
            <td>{{selectedStudent.address}}</td>
            <td>{{selectedStudent.mobile}}</td>
            <td>{{selectedStudent.emailId}}</td>
        </tr>
    </table>
    <button appModelDirective (click)="remove()">Clear User</button>
</ng-container>
<ng-template #elseTemplate>
    <p>No Data Found</p>
</ng-template>