.navbar{
    justify-content: space-between;
    z-index:1; 
      width: 100%;
    position: fixed;
    top: 0;
  }
  .navbar span{
    margin-left: 3rem;
  }
  .innerNav{
    margin-right: 10rem;
  }
  .expMore{
   margin-top: 10px;
  }
  
  .example-card {
    max-width: 300px;
  }
  .cardContent{
    max-width: 300px;
  }
  /* 
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
   */
   .mat-form-field + .mat-form-field {
    max-width: 300px;
  }
  matMenu{
    display: none;
  }