<mat-toolbar color="primary" class="navbar">
    <div style="margin-left:5rem">
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
        Eshop</div>
    <mat-form-field style="width:400px !important">
        <input matInput type="search" placeholder="search here">
        <mat-icon matPostfix>search</mat-icon>
    </mat-form-field>
    <div class="innerNav">
        <span *ngIf="loginButtonFlag ">
            <button mat-raised-button color="accent" (click)="loginPage()">Login</button>
        </span>
        <span *ngIf="profile">
            <button mat-flat-button color="primary" style="font-size: 20px;" [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm><b>{{profile.userName}}</b></button>
            <mat-icon>expand_more</mat-icon>
        </span>
        <span>
            More
            <mat-icon>expand_more</mat-icon>
        </span>
        <span>
             <button mat-flat-button color="primary" role="button" [disabled]="count<1" (click)="userCart()"> Cart
                <mat-icon matBadge={{count}} matBadgeColor="warn" matBadgeOverlap="false">shopping_cart</mat-icon>
            </button>
        </span>
    </div>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-menu-item routerLink="/previousOrders">
        <mat-icon>reorder</mat-icon>
        Previous Orders
    </button>
    <button mat-menu-item (click)="clearSession()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
</mat-menu>
