<div class="mainDiv">
    <div class="login-wrapper" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-top: 30px;color: red;" class="mat-body-2">{{error}}</mat-card-content>

            <form [formGroup]="loginForm" class="example-form" style="margin-top:2rem">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="userName" placeholder="Username">
                        <mat-error>Please enter your user name</mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="passWord" placeholder="Password" type="password">
                        <mat-error>Please enter your pass word </mat-error>
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="primary" class="btn-block" (click)="login()">Log in</button>
            </form>
            <div style="margin-top:1rem">
                <p><b>Or</b></p>
            </div>
            <div>
                <button mat-stroked-button color="accent" style="margin-top: 1rem;" class="btn-block"
                    (click)="loginFlag()"><b>New to eshop? create an account</b></button>
            </div>
        </mat-card>
    </div>
</div>