<div style="margin-top: 100px;" align="center" *ngIf="cartItems">
    <mat-card class="masterCard" *ngFor="let item of cartItems">
        <div>
            <img src="assets/images/{{item.itemName}}.jpeg">
        </div>
        <mat-card class="matCard">
            <mat-card-content align="start">
                <div class="mat-title">{{item.header}}</div>
            </mat-card-content>
            <mat-card-content align="start">
                <span class="mat-body-2">Item price : <span>&#8377;</span> {{item.price}} INR</span>
            </mat-card-content>
            <mat-card-content align="start">
                <span class="mat-body-2">Total Price : <span>&#8377;</span> {{item.totalBill}} INR</span>
            </mat-card-content>
            <mat-card-actions align="start">
                <button class="plucIcon" color="primary" matTooltip="add" [matTooltipPosition]="'left'"
                    (click)="addQuantity(item)">+</button>
                <span class="quanDis">{{item.quantity}}</span>
                <button class="plucIcon" matTooltip="remove" [matTooltipPosition]="'right'"
                    (click)="substractQuantity(item)">-</button>
            </mat-card-actions>
            <mat-card-actions align="start">
                <button mat-raised-button color="primary">save for later</button>
                <button mat-raised-button color="warn" (click)="removeCartItems(item)">
                    <mat-icon>delete</mat-icon>Remove
                </button>
            </mat-card-actions>

        </mat-card>
    </mat-card>
    <mat-card class="placeOrder">
        <mat-card-header class="mat-title"> TotalBill: {{totalBill}}/- </mat-card-header>
        <button mat-raised-button color="primary" (click)="doPayment()">Proceed to pay</button>
    </mat-card>
</div>