.signup {
    font-size:36px;
    -webkit-font-smoothing: antialiased;
    font-weight:700;
    margin-bottom:20px;
  }
  .invalidField{
    color:rgb(248, 6, 6)
  }
  .bolder {
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color:#333;
  }
  .formbox {
    display: inline-block;
    width:399px;
  }
  
  .inputbody {
    display: inline-block;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    color:#333;
    margin-bottom:10px;
  }
  .in2 {
    width:377px;
  }
  .signbut {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
    margin-top: 10px;
  margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    cursor:pointer;
  }
  
  .signbut:hover {
    background: -webkit-linear-gradient(#79bc64, #578843);
  }