<div class="signup bolder">Login</div> 
<div *ngIf=error>
    <p class="invalidField"><b>{{error}}</b></p>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div *ngIf="submitted&&loginForm.controls.emailId.errors" [class]="'invalidField'">
        <p>Please Enter your email id</p>
    </div>
<div class="formbox">
    <input type="text" class="inputbody in2" placeholder="Enter Email"
        formControlName="emailId" autocomplete="on">
</div>
<div *ngIf="submitted&&loginForm.controls.passWord.errors" [class]="'invalidField'">
    <p>Please Enter your pass word</p>
</div>
<div class="formbox">
    <input type="password" class="inputbody in2" placeholder="Password" formControlName="passWord" autocomplete="on">
</div>
<div class="formbox">
    <button type="submit" class="signbut bolder">Login</button>
</div>
</form>